
<h1>New Article</h1>


<%= form_with scope: :share, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
